body {
    font-family: 'Kameron', 'Noto Sans JP', sans-serif;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

.font-sm {
    font-size: 12px;
}

.font-md {
    font-size: 15px;
}

.font-lr {
    font-size: 18px;
}

.font-lg {
    font-size: 48px;
}

.mb-sm {
    margin-bottom: 40px !important;
}

.mb-lg {
    margin-bottom: 75px !important;
}

.pb-sm {
    padding-bottom: 40px !important;
}

.pb-lg {
    padding-bottom: 75px !important;
}

.content-width {
    width: 100%;
    margin: 0 auto;
    max-width: $contentMaxWidth;
}

.main-title {
    @extend .font-lg;
    font-weight: bold;
    display: inline-block;
    margin-right: 30px;
    position: relative;
    margin-left: 115px;

    &::before {
        content: "";
        height: 1px;
        width: 80px;
        background-color: $cBlack;
        position: absolute;
        top: 50%;
        right: 170px;
        transform: translateY(-50%);
    }
}

.sub-title {
    font-size: 22px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
}

header {
    width: 240px;
}

main {
    width: calc(100% - 240px);
}

.news {
    background-color: $cOrange;
    
    &__header {
        @extend .content-width;
        display: flex;
        justify-content: space-between;
    }

    &__header-right {
        display: flex;
        align-items: flex-end;
    }

    &__lBtn {
        background-color: $cBlack;
        color: $cWhite;
        padding: 20px 40px;;
    }

    &__rBtn {
        background-color: $cWhite;
    }


}


